@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --cipria-40: 253 249 251;
  --cipria-60: 253 247 249;
  --cipria-80: 252 244 247;
  --cipria-100: 252 242 245;

  --midnight-40: 173 173 184;
  --midnight-60: 132 132 148;
  --midnight-80: 91 91 113;
  --midnight-100: 50 51 78;

  --brightGreen-40: 210, 255, 234;
  --brightGreen-60: 188, 255, 224;
  --brightGreen-80: 166 255 214;
  --brightGreen-100: 144 255 204;

  --skyBlue-40: 201 183 253;
  --skyBlue-60: 174 147 252;
  --skyBlue-80: 147 111 251;
  --skyBlue-100: 120 76 251;

  --lobster-40: 236 189 163;
  --lobster-60: 227 156 118;
  --lobster-80: 218 123 72;
  --lobster-100: 209 91 27;
}
