---
import LefthoekLogo from "../components/LefthoekLogo.svelte";
const { class: extendClasses } = Astro.props;
---

<html lang="en" class="grid h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Lefthoek</title>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/global.css")}
    />
  </head>

  <body
    class={`grid grid-rows-[1fr_auto] space-y-8 bg-gradient-to-r from-skin-base dark:from-skin-inverted to-skin-secondary p-8 ${extendClasses}`}
  >
    <div class="grid h-full">
      <slot />
    </div>
    <footer class="h-auto place-content-end p-4">
      <a ref="/">
        <LefthoekLogo isInverted={true} class="w-20" />
      </a>
    </footer>
  </body>
</html>
