---
import LefthoekLogo from "../components/LefthoekLogo.svelte"
const { class: extendClasses } = Astro.props;
---
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Lefthoek</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>


  <body class={`h-full bg-gradient-to-tl from-skyBlue-100 to-midnight-100 ${extendClasses}`}>
    <a href="/">
      <LefthoekLogo isInverted={true} class="w-20 m-10"/>
    </a>
    <slot/>
  </body>
</html>
